.weather{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url("../image/bg/bg_sunny_day.jpg") no-repeat;
    /*background-color: black;*/
    background-size: 100% 100%;
}
/*头部 城市，切换按钮*/
.header{
    position: absolute;
    top: 0;
    height: 2rem;
    left: 0;
    right: 0;
    bottom: auto;
    line-height: 2rem;
    z-index: 10;
    /*background: rgba(0,0,0,0.3);*/
}
.header .search{
    width: 5rem;
    padding-left: 10px;
    float: left;
}
.header .city{
    padding: 0 5px;
}
.header span{
    display: inline-block;
    font-size: 0.7rem;
    color: #fff;
}
.header .search-btn{
    width: 0.6rem;
    height: 0.6rem;
    background: url("../image/icon/open_plus.png") no-repeat;
    background-size: 100%;
}
.header .item-btn{
    float: right;
    width: 5rem;
    height: 2rem;
    text-align: right;
    padding-right: 12px;
}
.header .city-note{
    line-height: 0;
    height: 4px;
    position: absolute;
    top: 2rem;
    left: 1.5rem;
    text-align: center;
}
.header em{
    width: 0.1rem;
    height: 0.1rem;
    border: 1px solid #ffffff;
    border-radius: 50%;
    display: inline-block;
    margin-right: 0.3rem;
    background-color: transparent;
}
.header .white{
    background-color: #ffffff;
}
/*头部 end*/
/*天气详情开始*/
#wrap{
    position: absolute;
    top: 2rem;
    bottom: 2rem;
    left: 0;
    right:0;
    overflow: hidden;
}
/*天气背景*/
#wrap .sunny-bg1{
    width: 10rem;
    height: 10rem;
    position: absolute;
    right:22%;
    top: 23%;
    margin-top: -5rem;
    margin-right: -5rem;
}
@keyframes rotate {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
@keyframes sea{
    0%{
       height: 4rem;
    }
    100%{
        height: 2rem;
    }
}
@keyframes cloud{
    0%{
        right: 0;
    }
    100%{
        right: -50%;
    }
}
#wrap .sunny-bg1 img{
    position: absolute;
    width: 100%;
    display: block;
    vertical-align: top;
}
.rot-img{
    animation: rotate 60000ms infinite linear;
}
.sunny-bg2{
    width: 100%;
    height: 3rem;
    background: url("../image/wea-bg/sunny_day_wave1.png") no-repeat;
    background-size: auto 100%;
    position: absolute;
    top: 60%;
    animation: sea 60000ms infinite linear;
}
.sunny-bg3{
    width: 100%;
    height: 4rem;
    position: absolute;
    top: 30%;
    background: url("../image/wea-bg/sunny_day_cloud3.png") no-repeat;
    background-size: 100% 100%;
    animation: cloud 40000ms infinite linear;
}
/*背景结束*/
.weather-con{
    width: 100%;
    min-height: 100%;
    position: absolute;
    top: 0;
}
.sence{
    position: absolute;
}
.scrollBar{
    width: 4px;
    background-color: rgba(255,255,255,0.4);
    position: absolute;
    right: 0;
    top: 0;
    opacity:0;
    transition:0.3s
}
/**/
.wea-about{
    position: absolute;
    top: 2rem;
    left: 0;
    right: 0;
    bottom: 2rem;
    overflow: hidden;
}
/**/
.info-box{
    margin-left: 10px;
    position: absolute;
    top: 0;
    bottom: auto;
    right: 0;
    left: 0;
}
.info{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    color: #fff;
    height: 7rem;
}
.info a{
    display: block;
    color: #fff;
}
.info .tem{
    height: 3rem;
    display: inline-block;
    font-size: 4.2rem;
}
.info  .ico_temp{
    display: inline-block;
    width: 0.8rem;
    height: 0.8rem;
    background: url("../image/icon/centigrade.png") no-repeat;
    background-size: 100%;
    vertical-align: top;
    margin-top: 0.8rem;
    margin-left: -0.2rem;
}
.info .ico-wea{
    display: inline-block;
    vertical-align: top;
    margin-top: 0.9rem;
}
.info-box .info-about{
    font-size: 0.6rem;
    margin-top: 0.5rem;
}
.info-about i{
    display: inline-block;
}
#wrap .weather-con  .ico_water{
    background: url("../image/icon/main_humidity.png") no-repeat;
    display: inline-block;
    width: 0.7rem;
    height: 0.7rem;
    background-size: 100%;
    vertical-align: top;
}
#wrap .weather-con  .ico_wind{
    background: url("../image/icon/main_wind_direction.png") no-repeat;
    display: inline-block;
    width: 0.7rem;
    height: 0.7rem;
    background-size: 100%;
    vertical-align: top;
}
.info-aqi{
    margin-top: 0.5rem;
}
.info-aqi a{
    display: block;
    color: #fff;
    background: rgba(0,0,0,0.2);
    height: 1.3rem;
    box-sizing: border-box;
    padding: 0  4px;
    max-width: 4.4rem;
    border-radius: 0.4rem;
}
.info-aqi a span{
    display: inline-block;
    vertical-align: top;
    margin-top: 0.1rem;
}
.info-aqi strong{
    display: inline-block;
    vertical-align: top;
    margin-top: 0.3rem;
}
.weather-announcer{
    width: 4.5rem;
    height: 7.7rem;
    background: url("../image/xiaomomei/xmm_20.png") no-repeat 0 0;
    background-size: 100%;
    position: absolute;
    bottom: 5px;
    right: 1rem;
    top: auto;
    left: auto;
}
.info-box .tips{
    background: url("../image/icon/big_window.9.png") no-repeat;
    /*background: url("../image/icon/feed_to_bg_normal.9.png") no-repeat;*/
    width: 6rem;
    font-size: 0.6rem;
    line-height: 1rem;
    background-size: 100%;
    padding: 0px 0.8rem 0 6px;
    box-sizing: border-box;
    position: absolute;
    right: 5.5rem;
    bottom: auto;
    left: auto;
}
.days{
    position: absolute;
    height: 2.5rem;
    width: 100%;
    top: 17.5rem;
    background-color: rgba(0,0,0,0.3);
}
.days .single:first-child{
    border-right: 1px solid rgba(255,255,255,.1);
}
.single{
    float: left;
    width: 50%;
    height: 2.5rem;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: #fff;
    font-size: 0.6rem;
}
.days .single div:first-child {
    height: 0.8rem;
    padding: .35rem 5px 0;
    line-height: 0.8rem;
}
.days .single div:last-child {
    height: 1rem;
    padding: .3rem 5px 0;
    line-height: 1rem;
}
.days .single em {
    float: left;
    font-style: normal;
}
.days .single span {
    float: left;
    width: 3rem;
    height: 1.6rem;
    margin: 0 0 0 10px;
    text-align: center;
    border-radius: .7rem;
}
.days .single b {
    float: right;
    font-weight: 400;
}
.days .single strong {
    float: left;
    font-weight: 400;
}
.days .single img {
    float: right;
    height: 1.1rem;
}
/*天气详情结束*/
.hours-temp{
    height: 1.5rem;
    background-color: rgba(0,0,0,.4);
    width: 100%;
}
.hours-temp .tabs {
    height: 1.5rem;
    font-size: 0.6rem;
    width: 100%;
}
.hours-temp, .wind-temp .tabs {
    border-bottom: 1px solid rgba(255,255,255,.1);
    border-top: 1px solid rgba(255,255,255,.1);
}
.hours-temp .tabs strong {
    width: 3rem;
    line-height: 1.5rem;
    float: left;
    color: #fff;
    margin-left: 5px;
    font-weight: 400;
}
.hours-temp .tabs span, .wind-temp .tabs strong {
    float: left;
    line-height: 1.5rem;
    font-size: 0.6rem;
    color: #fff;
    text-align: center;
}
.hours-temp .tabs .btn {
    float: right;
    height: 1.5rem;
    color: #fff;
    padding: 0 10px 0 0;
    font-size: 0.6rem;
    line-height: 1.5rem;
    font-style: normal;
}
.hours-temp .tabs .btn .ico_close{
    display: none;
    width: 0.8rem;
    height: 0.8rem;
    background: url(../image/icon/close.png) no-repeat;
    background-size: 100%;
    transform: rotate(180deg);
    vertical-align: top;
    margin-top: 0.35rem;
    margin-left: 0.18rem;
}
.week-weather{
    width: 100%;
    background-color: rgba(0,0,0,0.4);
}
.week-weather h3{
    width: 100%;
    margin: 0;
    font-weight: 300;
    font-size: 0.6rem;
    line-height: 1.6rem;
    color: #fff;
    text-indent: 10px;
}
.week-weather .week-line {
    position: absolute;
    top: 5.3rem;
    left: 0;
    width: 100%;
    height: 123px;
}
.week-weather li {
    float: left;
    width: 16.25%;
    box-sizing: border-box;
    border-top:1px solid rgba(255,255,255,.1);
    border-left:1px solid rgba(255,255,255,.1);
    text-align: center;
}
.week-weather em {
    display: block;
    height: 1.4rem;
    color: #fff;
    font-size: 0.6rem;
    font-style: normal;
    line-height: 1.4rem;
}
.week_weather .weather-per{
    padding: 0 0 4px;
}
.week-weather .aqi {
    height: 1.6rem;
    width: 1.5rem;
    display: inline-block;
    border-radius: .4rem;
}
.week-weather .aqi, .week-weather .wind dd {
    font-size: 0.6rem;
    line-height: 0.8rem;
    color: #fff;
}
.week-weather .wind dd {
    font-weight: 400;
    height: 1rem;
    line-height: 1rem;
}
.week-weather .weather-per dd {
    margin: 0 auto;
    width: 1.8rem;
    height: 1rem;
    line-height: 1rem;
    color: #fff;
    font-size: 0.6rem;
}
.week-weather .weather-per dd strong{
    font-weight: normal;
}
.week-weather .weather-per dt {
    height: 1.3rem;
    line-height: 1.3rem;
}
.week-weather .weather-per dt img {
    height: 100%;
    display: inline-block;
    vertical-align: middle;
}
.week-weather li div {
    height: 6.05rem;
}
.weak-weather .wind {
    padding: 0.6rem 0 0.5rem;
}
.info-warn img{
    vertical-align: middle;
}
.weak-weather li  .wind dt{
    height: 1.4rem;
    color: #fff;
    font-size: 0.6rem;
    line-height: 1.4rem;
}
.exponent{
    background-color: rgba(0,0,0,.3);
    width: 100%;
    margin: 0 auto;
    border: 1px solid rgba(255,255,255,.1);
    border-width: 1px 0;
}
.exponent h3{
    height: 1.3rem;
    line-height: 1.3rem;
    padding-left: 0.8rem;
    width: 100%;
    font-size: 0.6rem;
    color: #ffffff;
    font-weight: 500;
}
.exponent ul {
    font-size: 0;
    margin: 0 -2px -2px 0;
    border: 1px solid rgba(255,255,255,.1);
}
.exponent li {
    box-sizing: border-box;
    width: 25%;
    height: 4rem;
    display: inline-block;
    text-align: center;
    border: 1px solid rgba(255,255,255,.1);
    border-width: 0 1px 1px 0;
}
.exponent li span {
    display: inline-block;
    width:100%;
    height: 1.3rem;
    line-height: 1.3rem;
    margin: 0.5rem 0 0;
}
.exponent li img{
    height: 100%;
}
.exponent li em {
    display: block;
    color: #fff;
    font-size: 0.65rem;
    font-style: normal;
    line-height: 1.3rem;
}
.exponent li em:last-child{
    line-height: 0.6rem;
    color: rgba(255,255,255,0.2);
    font-size: 0.6rem;
}
.news{
    left: 0;
    right: 0;
    padding:0  0.5rem;
    background-color: rgba(0,0,0,.4);
    border-radius: .2rem;
}
.news-hd{
    height: 1.4rem;
    width: 100%;
    border-bottom: 1px solid rgba(255,255,255,.1);
    font-size: 0.6rem;
    color: #fff;
    line-height: 1.4rem;
}
.news h3{
    float: left;
    height: 100%;
    color: #fff;
    font-weight: 400;
    font-size: 0.6rem;
}
.news-hd .more{
    float: right;
    width: 2rem;
    padding-right: 10px;
}
.news ul{
    height: 4.5rem;
    border-bottom: 1px solid rgba(255,255,255,.1);
}
.news a{
    display: block;
    width: 100%;
}
.oneImg-ul{
    width: 60%;
    padding-top: 0.5rem;
    height: 4rem;
    float: left;
    font-size: 12px;
}
.news .oneImg-ul a:first-child{
    line-height: 1rem;
    font-size: 0.6rem;
    padding: 4px 0;
    color: #fff;
}
.news .oneImg-ul a:last-child, .noImg-ul a:last-child{
    line-height: 1.5rem;
    margin: 5px 0;
    padding: 0;
    color: rgba(255,255,255,0.4);
    font-size: 0.6rem;
}
.oneImg-li{
    float: right;
    width: 35%;
    height: 100%;
}
.news ul .oneImg-li a img{
    display: block;
    padding-left: 0.2rem;
    padding-top: 0.5rem;
    vertical-align: middle;
    width: 5rem;
    max-height: 3.5rem;
}
.noImg-ul a:first-child{
    width: 100%;
    padding: 10px 0;
    max-height: 50%;
    font-size: 0.6rem;
    color: #fff;
}
.news-hd .ico_return{
    background: url("../image/icon/homepage_item_more_icon.png") no-repeat;
    width: 0.25rem;
    height: 0.5rem;
    background-size: 100%;
    vertical-align: middle;
}
.manger-page #big-arrow{
    float: left;
    width: 2rem;
    height: 2rem;
}
.manger-page .ico_return{
    background: url("../image/icon/feed_change_history.png") no-repeat;
    width: 0.5rem;
    height: 0.8rem;
    background-size: 100%;
    vertical-align: middle;
    transform: rotate(180deg);
    display: block;
    margin-top: 0.6rem;
    margin-left: 1rem;
}
.manger-page .ico_pen{
    background: url("../image/icon/icon_edit.png") no-repeat;
    width: 1.4rem;
    height: 1.4rem;
    background-size: 100% 120%;
    vertical-align: middle;
    margin-left: 3rem;
    margin-top: -0.25rem;
}
.manger-action{
    width: 9.4rem;
    float: right;
    height: 2rem;
    overflow: hidden;
}
.manger-action em{
    display: inline-block;
}
.manger-page .ico_plus{
    background: url("../image/icon/photo_share_add_icon.png") no-repeat;
    width: 0.8rem;
    height: 0.8rem;
    background-size: 100% 100%;
    vertical-align: middle;
}
.manger-page{
    position: absolute;
    top: 0;
    width: 100%;
    background-color: #f7f7f7;
    transition: 0.4s;
    z-index: 12;
    font-size: 0.7rem;
    overflow: hidden;
    display: none;
}
.manger-page li em{
    height: 100%;
    display: inline-block;
    vertical-align: top;
    width: 9rem;
    line-height: 2.2rem;
    text-indent: 0rem;
}
.manger-page .page-hd{
    width: 100%;
    height: 2rem;
    line-height: 2rem;
    background-color: #585858;
    color: #fff;
}
.manger-page li{
    width: 100%;
    height: 2.2rem;
    text-indent: 1rem;
    background-color: #f7f7f7;
    border-bottom: 1px solid #e0e3e8;
}
.search-page .page-hd{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background: url("../image/icon/search_city_bg.jpg") no-repeat;
    background-size: 100% 100%;
    height: 8.3rem;
    border: 1px solid #eee;
}
.search-page h3{
    margin-top: 1.1rem;
    padding-left: 0.4rem;
}
.search-page{
    display: none;
    position: absolute;
    top: 0;
    transition: 0.3s;
    z-index: 13;
    background-color: #fff;
    overflow: hidden;
}
.search-page .ico_cancel{
    background: url("../image/icon/icon_close.png") no-repeat;
    display: inline-block;
    width: 1rem;
    height: 1rem;
    background-size: 100%;
}
.search-page .title-hd{
    line-height: 2.4rem;
    font-size: 0.8rem;
    color: #fff;
    text-align: right;
    padding-right: 0.7rem;
}
.search-page .search-con{
    width: 14.7rem;
    margin:0 auto;
    position: relative;
    overflow: hidden;
}
.search-page input{
    display: block;
    border: 1px solid #eee;
    background-color: #fff;
    line-height: 1.3rem;
    width: 11.8rem;
    z-index: 5;
    border-radius: 0.5rem;
    font-size: 0.7rem;
    padding-left: 0.7rem;
}
.search-con em{
    display: inline-block;
    position: absolute;
    width: 2.8rem;
    z-index: 4;
    right: 0;
    top: 0;
    height: 1.5rem;
    overflow: hidden;
    font-size: 0.8rem;
    color: #fff;
    line-height: 1.5rem;
}
.search-con em span{
    background: #4291e4;
    width: 3.2rem;
    display: inline-block;
    height: 1.5rem;
    border-radius: 0.5rem;
    margin-left: -0.4rem;
}
.search-con .ico_search{
    background: url("../image/icon/city_search_bt_icon.png") no-repeat;
    width: 0.8rem;
    height: 0.8rem;
    background-size: 100% 100%;
    display: inline-block;
    margin-left: 1.4rem;
    margin-top: 0.3rem;
}
.search-page dl{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 8.4rem;
    padding-top: 0.5rem;
    font-size: 0.6rem;
    text-align: center;
}
.search-page dt{
    width: 100%;
}
.search-page dd{
    font-size: 0.7rem;
    margin-top: 0.5rem;
}
.search-page dd em {
    margin-right: 0.8rem;
    width: 4.2rem;
    border: 1px solid rgba(0,0,0,0.6);
    border-radius: 0.6rem;
    display: inline-block;
    line-height: 1.2rem;
}
.search-page dd em:last-child{
    margin-right: 0;
}
.blue{
    border-color: #4291e4;
}
#wrap .weather-con .info-aqi .warn-1{
    background: url("../image/icon/notif_level1.png") no-repeat;
}
#wrap .weather-con .info-aqi .warn-2{
    background: url("../image/icon/notif_level2.png") no-repeat;
}
#wrap .weather-con .info-aqi .warn-3 {
    background: url("../image/icon/notif_level3.png") no-repeat;
}
#wrap .weather-con .info-aqi .warn-4{
    background: url("../image/icon/notif_level4.png") no-repeat;
}
#wrap .weather-con .info-aqi .warn-5 {
    background: url("../image/icon/notif_level5.png") no-repeat;
}
#wrap .weather-con .info-aqi .warn-6{
    background: url("../image/icon/notif_level6.png") no-repeat;
}
#wrap .weather-con .info-aqi .warn-7{
    background: url("../image/icon/notif_level7.png") no-repeat;
}
#wrap .weather-con .info-aqi .info-warn{
    width: 1rem;
    height: 1rem;
    background-size: 100%;
}
.ico_del, .ico_rotate_del{
    display: inline-block;
    width: 2rem;
    height: 2rem;
    background: url("../image/icon/city_delete_normal.png") no-repeat;
    background-size: 100%;
    display: none;
}
.ico_rotate_del{
    background: url("../image/icon/city_delete_rotate.png") no-repeat;
    background-size: 100%;
}
.del_button{
    line-height: 1.5rem;
    width: 2.7rem;
    color: #fff;
    background: url("../image/icon/city_delete_button_normal.png") no-repeat;
    background-size: 100% 100%;
    display: inline-block;
    text-indent: 0.7rem;
    vertical-align: top;
    margin-top: 0.35rem;
    display: none;
}
.ico_change{
    background: url("../image/icon/change_setting_title.png") no-repeat;
    width: 1.7rem;
    height: 1.7rem;
    background-size: 100% 120%;
    vertical-align: top;
    margin-left: 3rem;
}
.add_tips{
    height: 1.5rem;
    min-width: 4.5rem;
    background-color: rgba(0,0,0,0.7);
    border-radius: 0.3rem;
    position: absolute;
    z-index: 14;
    color: #fff;
    font-size: 0.6rem;
    line-height: 1.5rem;
    text-align: center;
}
.search-page ul{
    width: 100%;
}
.city-list-con{
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    overflow: hidden;
}
.search-page li{
    padding: 0 0.6rem;
    width: 100%;
    line-height: 1.6rem;
    color: #585858;
    font-size: 0.7rem;
}
.search-page .no_result{
    margin-top: 1rem;
    background: url("../image/icon/city_search_no_result_bg.png") no-repeat center center;
    width: 100%;
    height: 7rem;
    background-size: auto 90%;
    font-size: 0.7rem;
    text-align: center;
}
.search-page .no_value{
    margin-top: 1rem;
    background: url("../image/icon/city_search_start_bg.png") no-repeat center center;
    width: 100%;
    height: 7rem;
    background-size: auto 90%;
    font-size: 0.7rem;
    text-align: center;
    padding: 0;
}
.footer{
    position: absolute;
    top: auto;
    height: 2rem;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,.4);
}